@model IEnumerable<Infrastructure.Entity.Entity.BookEntity>

@{
    ViewData["Title"] = "Index";
}

<h1>Libro</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuggestedPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Editorial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SuggestedPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Editorial.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdBook" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.IdBook" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdBook" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
